block variables
  - var page_title = ''
  - var page_description = ''
  - var page_keywords = ''
  //- - var open_menu = false

doctype html
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie6" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8 ie7" lang="en">
//if IE 8
  <html class="no-js lt-ie9 ie8" lang="en">
//if IE 9
  <html class="no-js ie9" lang="en">
//[if gt IE 9]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title= page_title + ' - Flix'
    if config.NODE_ENV != 'development'
      meta(name='robots', content='noindex, nofollow')
    meta(name='description', content=page_description)
    meta(name='keywords', content=page_keywords)
    link(rel='stylesheet', href='/css/style.css')
    if config.NODE_ENV == 'development'
      script( type='text/javascript', src='http://localhost:35729/livereload.js')
    script(src='/js/bundle.js')
body
  block header
    header#header
      a.btn.menu.left(href=path + '?menu=open')
        .line_one
        .line_two
        .line_three
      .btn.right
      //- switch to h1 if in movie category.
      h2.title= page_title
  block content
  block sidebar
    aside.sidebar(class=open_menu ? 'is-visible' : '')
      header
        .title Flix
      ul.category-list
        li
          a.category(href='/in-theatres') In Theatres
          a.category(href='/box-office') Box Office
          a.category(href='/new-releases') New Releases
          a.category(href='/top-rentals') Top Rentals
  block scripts
    include _includes/analytics